.heroSection-wrapper{

    .left-section{
        height: 22rem;
    }

    .slider{
        // height: 400px;
        // width: 400px;
        // background-color:var(--color-violet);
        height: 28rem;
        width: 28rem;
    }

    .shopNow{
        width: 12rem;
    }
}
