.profileWrapper{
    background-color: white;
    height: 32rem;
    width: 25rem;



.profileVariablest{
    color: var(--color-violet);
 }

 
    
}

.myOrders{
    background-color: var(--color-violet);
    color: white;
}

.editProfileChangePassword{
    width: 20rem;
}

.editProfile{
    background-color: var(--color-violet);
}

