.userAccount{
    // height: 100vh;
    color: var(--color-violet);

    .userOption-cards{
        height: 15rem;
        width: 15rem;
    }

    .icon:hover{
        // background-color: black;
    }

}